@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h2>
		Show to Wayne
		Environment  : <b>  @ConfigurationManager.AppSettings["environment"] </b>
	</h2>
</div>

